.container {
  margin: auto;
  width: 80%;
}
.center{
  margin: auto;
  width: 70%;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid gainsboro;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.bottons{
   margin:auto;
   width: 40%;
}

.row1{
  width: 10%;
}

.row2{
  width: 10%;
}

input[type=submit]{
  padding: 10px 20px;
  margin-top: 15px;
  text-align: center;
  border: 1px solid lightgray;
  cursor: pointer;
}