.container {
  margin: auto;
  width: 80%;
}
input[type=text] {
  width: 60%;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid gainsboro;
  margin: auto;
}

input[type=submit]{
  width: 10%;
  padding: 10px 20px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  border: 1px solid lightgray;
  cursor: pointer;
}